* { 
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}  /* Символ * - универсальный селектор, который применяеться ко всем элементам на странице. Это означает, что правила будут действовать на каждый div, p, img */ 
/* Свойство box-sizing в CSS определяет, как должен рассчитываться размер элемента */
/* border-box указывает, что ширина и высота элемента включают в себя внутренние отступы (padding) и границы (border), но не включают внешние отступы (margin). */

header {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center; /* выравнивает текст и встроенные элементы */ 
}
header p{
    margin: 10px;
    color: #f8f8f8;
    font-size: 24px;
    font-weight: 700;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
}

nav a:hover {
    color: tomato;
}

main {
    padding: 20px;

}

h2 {
    font-size: 24px;
    font-weight: 700;
}

img {
    width: 50;
    height: 50%;
    margin-top:20px;
}

footer p {
    font-size: 18px;
    color: #f8f8f8;
}

main p{
    font-size: 18px;
    color: black;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse; /* для исчезноваения двойных границ между ячейками */ 
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer a:hover {
    color: tomato;
}
